:root {
  --primary-color: #5c65cf;
  --secondary-color: #d96fa0;
  --primary-background: #fffaea;
  --secondary-background: #f4a896;
  --tertiary-background: #ffd494;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

body {
    padding: 20px;
    font-size: large;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a {
  color: var(--primary-color);
}

img {
  width: 25%;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.btn-primary {
  background-color: var(--primary-color);
  border: var(--primary-color);
}

.btn-primary:hover{
  background-color:var(--secondary-color);
}

body .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

body
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

body img
{
    /* constrain images on small screens */
    max-width: 100%;
}


ul {
  list-style-type: none;
  display: table;
  margin: 0 auto;
  padding: 0;
}

.table{
  width: auto;
  display: inline-block;

}