:root {
  --primary-color: #5c65cf;
  --secondary-color: #d96fa0;
  --primary-background: #fffaea;
  --secondary-background: #f4a896;
  --tertiary-background: #ffd494;
  --nav-background:#ffd494;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

body {
  font-size: large;
  height: 100%;
  min-height: 500px;
  padding: 0px;
  /* min-width: 1000px; */
}

.conteudo {
  padding: 10px;
}

main {
  min-height: 93vh;
}

.box_lista_despensa{
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 15px;
  border-radius: 5%;
  width: 100%;
  max-width: 400px;
}

.box_padrao{
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 15px;
  border-radius: 5%;
  width: 80%;
  max-width: 400px;
}

.center_box{
  display:flex;
  justify-content: center;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

section {
  text-align: left;
}

a#username {
  color: var(--primary-color);
  font-weight: bold;
}

a#username:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

ul#dropmer {
  color: var(--primary-color);
  font-weight: bold;
}

nav#navegacao-principal {
  justify-content : center;
  color: var(--primary-color);
  display: flex;
  flex-direction: row;
}

nav#navegacao-principal ul {
  margin: 0;
  padding: 0;
}

nav#navegacao-principal li {
  display: inline-block;
  padding: 10px;
}

a {
  color: var(--primary-color);
}

span {
  color: var(--secondary-background);
}

img#LogoMerc4d0 {
  width: 280px;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.btn-primary {
  background-color: var(--primary-color);
  border: var(--primary-color);
}

.btn-primary:hover{
  background-color:var(--secondary-color);
}

body .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

body
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

body img
{
    /* constrain images on small screens */
    max-width: 100%;
}

ul {
  list-style-type: none;
  display: table;
  margin: 0 auto;
  padding: 0;
}

.table{
  width: auto;
  display: inline-block;
  text-align: center;
}

footer {
  clear: both;
  position: relative;
  height: 52px;
  background-color: var(--nav-background);
  color: var(--primary-color);
  font-weight: bold;
}

body header {
  background-color:var(--nav-background);
  padding: 0px;
}

header p {
  padding: 10px;
}

.col {
  color: #5c65cf;
}
