{% extends "compras/layout.html" %}

{% block body %}
    <h4>{{nome}}</h4>
    <br>
    {% if produtos %}
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Produto</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td>{{ produto.produto.nome }}</td>
                        <td>{{ produto.quantidade }}</td>
                        <td>
                            <form action="{% url 'acompanhamento' id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="item" value="{{ produto.id }}">
                                <button type="submit" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br><br>
    {% else %}
        <p>Acompanhamento vazio.</p>
        <br>
    {% endif %}
    <form action="{% url 'acompanhamento' id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="acompanhamento" value="add">
        <input type="submit" class="btn btn-primary" value="Adicionar Produtos">
    </form>
    <br>
    <form action="{% url 'acompanhamento' id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="acompanhamento" value="excluir">
        <input type="submit" class="btn btn-danger" value="Excluir acompanhamento">
    </form>
{% endblock %}