{% extends "compras/layout.html" %}


{% block body %}
<h4>Meus cartões:</h4>
<br>

{% if cartoes %}
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Número</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for cartao in cartoes %}
                <tr>
                    <td>{{ cartao.numero }}</td>
                    <td>
                        <form action="{% url 'carteira' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="cartao" value="{{ cartao.id }}">
                            <button type="submit" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
{% else %}
<p>Nenhum cartão ainda.</p>
{% endif %}
<br>
<a href="{% url 'cartao'%}">
<button type="button" class="btn btn-primary">Adicionar cartão</button>
</a>

{% endblock %}