{% extends "compras/layout.html" %}


{% block body %}
<div class='center_box'>
    <div class="box_padrao">
        <h4>Meus endereços:</h4>
        <br>

        {% if enderecos %}
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Rua/Avenida</th>
                    <th scope="col">Número</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for endereco in enderecos %}
                <tr>
                    <td>{{ endereco.rua }}</td>
                    <td>{{ endereco.numero }}</td>
                    <td>
                        <form action="{% url 'enderecos' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="endereco" value="{{ endereco.id }}">
                            <button type="submit" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        {% else %}
        <p>Nenhum endereço ainda.</p>
        {% endif %}
        <br>

        <a href="{% url 'endereco' %}">
            <button type="button" class="btn btn-primary">Adicionar endereço</button>
        </a>
    </div>
</div>

{% endblock %}