{% extends "compras/layout.html" %}


{% block body %}
<h4>Seus Pedidos:</h4>
<br>
<ul>
{% for historico in historicos reversed %}
    <li>
        <b><p>Pedido {{ historico.id }} em {{ historico.data|date:"d/m/y H:i" }}</p></b>
        <p><b>Lista:</b> {{ historico.lista }}</p>
        <p><b>Despensa:</b> {{ historico.acompanhamento }}</p>
        <p><b>Supermercado:</b> {{ historico.supermercado }}</p>
        <p><b>Cartão:</b> {{ historico.cartao }}</p>
        <p><b>Total:</b> {{ historico.total }}</p>
        <p><b>Produtos:</b></p>
        <ul>
            {% for item in historico.produtos.all %}
                <li>{{ item.quantidade }} {{ item.produto }}(s) por {{ item.preco }} cada.</li>
            {% endfor %}
        </ul>
    </li>
    <br><hr><br>
{% empty %}
    <p">Nenhum pedido ainda.</p>
{% endfor %}
</ul>

{% endblock %}
