{% extends "compras/layout.html" %}
{% load static %}

{% block body %}

<div class="container">
    <div id="row" class="row">
        <div class="col" style="margin-top: 12px;">
            <h4>Minhas Listas:</h4>
            <br>
            <ul>
                {% for lista in listas %}
                {% if forloop.counter0 > 0 %}
                <hr>
                {% endif %}

                <li>
                    <!-- -->
                    <h4><a href="" onclick="mostrar('{{ lista.id }}'); return false">{{ lista.nome }}</a></h4>
                </li>

                <div id="cl{{ lista.id }}">

                    <!-- Div que mostra ou esconde o conteúdo da lista -->
                    <div id="l{{ lista.id }}" style="display: none;" class="box_lista_despensa">
                        <h4><!--<a href="" onclick="document.querySelector('#l{{ lista.id }}').style.display = 'none';
                                document.querySelector(`#cl{{ lista.id }}`).appendChild(document.querySelector('#l{{ lista.id }}'));
                                document.querySelector('#row').children[1].remove()
                                return false">-->{{ lista.nome }}<!--</a>--></h4>
                        <br>
                        {% if lista.produtos.all %}
                        <table id="t{{lista.id}}" class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Produto</th>
                                    <th scope="col">Quantidade</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for produto in lista.produtos.all %}
                                <tr id="r{{ produto.id }}">
                                    <td>{{ produto.produto.nome }}</td>
                                    <td>{{ produto.quantidade }}</td>
                                    <td>
                                        <button class="close" aria-label="Close"
                                            onclick="aumentar(this.parentElement.parentElement, '{{ lista.id }}')">
                                            <span aria-hidden="true">&plus;</span>
                                        </button>
                                        <button class="close" aria-label="Close"
                                            onclick="diminuir(this.parentElement.parentElement, '{{ lista.id }}')">
                                            <span aria-hidden="true">&minus;</span>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="close" aria-label="Close"
                                            onclick="excluir(this.parentElement.parentElement, '{{ lista.id }}')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="br{{lista.id}}">
                        </div>

                        {% else %}
                        <div class="v{{ lista.id }}">
                            <p>Lista vazia.</p>
                        </div>
                        <table id="t{{lista.id}}" class="table" style="display: none;">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Produto</th>
                                    <th scope="col">Quantidade</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <div class="br{{lista.id}}">
                        </div>

                        {% endif %}
                        <hr>
                        <!-- Div que mostra ou esconde adicionar produtos -->
                        <div class="form_add" id="a{{ lista.id }}">
                            <div class="form-group">
                                <select id="p{{ lista.id }}" class="selectpicker" data-live-search="true"
                                    title="Escolha o produto" required>
                                    {% for produto in produtos %}
                                    <option value="{{ produto.id }}">{{ produto.nome }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="number" required class="form-control" min="1" id="q{{ lista.id }}"
                                    placeholder="Quantidade">
                            </div>
                            <button type="button" class="btn btn-primary" id="add{{ lista.id }}"
                                onclick="adicionar('{{ lista.id }}')">Adicionar</button>
                            <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{ lista.id }}" onclick="foto('{{ lista.id }}')">Ver foto</button>

                            <!-- Modal -->
                            <div id="myModal{{ lista.id }}" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h4 id="nf{{ lista.id }}" class="modal-title"></h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    
                                </div>
                                <div class="modal-body">
                                    <img src="" alt="Foto do produto" id="im{{ lista.id }}">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                                </div>
                                </div>

                            </div>
                            </div>


                            <br>
                            <hr>

                            <form style="padding-top: 5px;" action="{% url 'lista' lista.id %}" method="post">
                                {% csrf_token %}
                                <a href="{% url 'pedido' %}?lista={{lista.id}}">
                                    <button type="button" class="btn btn-primary">Pedir lista</button>
                                </a>
                                <input type="hidden" name="lista" value="excluir">
                                <input type="submit" class="btn btn-danger" value="Excluir lista">
                            </form>
                        </div>
                    </div>

                </div>
                {% empty %}
                <p>Nenhuma lista ainda.</p>
                {% endfor %}
            </ul>
            <br>
            <button id="but_criar" type="button"
                onclick="document.querySelector('#criar').style.display = 'block'; this.style.display = 'none'"
                class="btn btn-primary">Criar nova lista</button>
            <div id="criar" style="display: none;">
                <a href=""
                    onclick="document.querySelector('#criar').style.display = 'none'; document.querySelector('#but_criar').style.display = 'inline-block'; return false">
                    <h4>Nova Lista:</h4>
                </a>
                <br>
                <form action="{% url 'criar' %}" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="form-group">
                        <input autofocus class="form-control" type="text" required name="nome" placeholder="Nome">
                    </div>
                    <input class="btn btn-primary" type="submit" value="Criar">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>

function mostrar(id) {
        const l = document.querySelector(`#l${id}`)
        const row = document.querySelector('#row')
        const origem_l = document.querySelector(`#cl${id}`)
        let displayed = false;
        let id_display;

        if (origem_l.children.length > 0){
           id_display = origem_l.children[0].id
        }

        if (row.children.length === 2) {
            id_display = row.children[1].children[0].id
            row.children[1].children[0].style.display = 'none';
            origem_l.appendChild(row.children[1].children[0])
            row.children[1].remove()
            displayed = true
        } 

        //console.log(`${id_display} e l${id} e ${displayed}`)

        if(id_display !== `l${id}` || displayed === false){

        l.style.display = 'block';

        let col = document.createElement("DIV");
        col.setAttribute("class", "col")

        col.appendChild(l)
        row.appendChild(col)
        }
    }

    function excluir(produto, id_lista) {
        row = produto
        const body = row.parentElement

        $.get('/excluir?p=' + produto.id.substring(1), (resposta) => {
            if (resposta = "Produto excluído!") {
                row.remove()
                if (body.children.length === 0) {
                    body.parentElement.style.display = "none"

                    let vazia = document.createElement("P")
                    vazia.setAttribute("class", `v${id_lista}`)
                    vazia.innerHTML = "<br>Lista Vazia."

                    document.querySelector(`.br${id_lista}`).style.display = "none"

                    body.parentElement.parentElement.prepend(vazia)
                }

            } else {
                alert(resposta)
            }
        })
    }

    function aumentar(produto, id_lista) {
        row = produto
        const body = row.parentElement

        $.get('/aumentar?p=' + produto.id.substring(1), (resposta) => {
            if (resposta = "Aumentado") {
                row.children[1].innerHTML = `${parseInt(row.children[1].innerHTML) + 1}`
            } else {
                alert(resposta)
            }
        })
    }

    function diminuir(produto, id_lista) {
        row = produto
        const body = row.parentElement

        $.get('/diminuir?p=' + produto.id.substring(1), (resposta) => {
            if (resposta = "Diminuido") {
                if (parseInt(row.children[1].innerHTML) !== 1) {
                    row.children[1].innerHTML = `${parseInt(row.children[1].innerHTML) - 1}`
                } else {
                    row.remove()
                    if (body.children.length === 0) {
                        body.parentElement.style.display = "none"

                        let vazia = document.createElement("P")
                        vazia.setAttribute("class", `v${id_lista}`)
                        vazia.innerHTML = "<br>Lista Vazia."

                        document.querySelector(`.br${id_lista}`).style.display = "none"

                        body.parentElement.parentElement.prepend(vazia)
                    }
                }
            } else {
                alert(resposta)
            }
        })
    }

    function mostrar_add(id) {
        const a = document.querySelector(`#a${id}`)
        const ba = document.querySelector(`#ba${id}`)

        if (ba.innerHTML === "Mostrar adicionar") {
            a.style.display = 'block'
            ba.innerHTML = "Esconder adicionar"
        }
        else if (ba.innerHTML === "Esconder adicionar") {
            a.style.display = 'none'
            ba.innerHTML = "Mostrar adicionar"
        }
    }

    function adicionar(id_lista) {
        const produto = document.querySelector(`#p${id_lista}`)
        const quantidade = document.querySelector(`#q${id_lista}`)
        const table = document.querySelector(`#t${id_lista}`)
        let ja_tem = false;

        if (produto.value === ""){
            alert("Selecione um produto.")
        }
        else if (quantidade.value === "") {
            alert("Insira uma quantidade.")
        }
        else {

        $.get(`/add?p=${produto.value}&l=${id_lista}&q=${quantidade.value}`, (resposta) => {

            if (document.querySelector(`.v${id_lista}`)) {
                document.querySelector(`.v${id_lista}`).remove()
            }

            if (table.style.display === "none") {
                table.style.display = "block"
            }

            Array.from(document.querySelector(`#t${id_lista}`).children[1].children).forEach((tr) => {
                if (resposta[1] === tr.children[0].innerHTML) {
                    let quant = parseInt(tr.children[1].innerHTML) + parseInt(quantidade.value)
                    tr.children[1].innerHTML = `${quant}`
                    ja_tem = true;
                }
            })

            if (!ja_tem) {
                let tr = document.createElement("TR");
                tr.setAttribute("id", `r${resposta[0]}`)

                let tdp = document.createElement("TD");
                tdp.innerHTML = resposta[1]

                let tdq = document.createElement("TD");
                tdq.innerHTML = quantidade.value

                let tdmudar = document.createElement("TD");

                let aumbutton = document.createElement("BUTTON");
                aumbutton.setAttribute("class", "close")
                aumbutton.setAttribute("aria-label", "Close")
                aumbutton.setAttribute("onclick", `aumentar(this.parentElement.parentElement,'${id_lista}')`)

                let aumbutspan = document.createElement("SPAN");
                aumbutspan.setAttribute("aria-hidden", "true")
                aumbutspan.innerHTML = "&plus;"

                aumbutton.appendChild(aumbutspan)

                tdmudar.appendChild(aumbutton)

                let dimbutton = document.createElement("BUTTON");
                dimbutton.setAttribute("class", "close")
                dimbutton.setAttribute("aria-label", "Close")
                dimbutton.setAttribute("onclick", `diminuir(this.parentElement.parentElement,'${id_lista}')`)

                let dimbutspan = document.createElement("SPAN");
                dimbutspan.setAttribute("aria-hidden", "true")
                dimbutspan.innerHTML = "&minus;"

                dimbutton.appendChild(dimbutspan)

                tdmudar.appendChild(dimbutton)

                let tdex = document.createElement("TD");

                let exbutton = document.createElement("BUTTON");
                exbutton.setAttribute("class", "close")
                exbutton.setAttribute("aria-label", "Close")
                exbutton.setAttribute("onclick", `excluir(this.parentElement.parentElement,'${id_lista}')`)

                let exbutspan = document.createElement("SPAN");
                exbutspan.setAttribute("aria-hidden", "true")
                exbutspan.innerHTML = "&times;"

                exbutton.appendChild(exbutspan)

                tdex.appendChild(exbutton)

                tr.appendChild(tdp)
                tr.appendChild(tdq)
                tr.appendChild(tdmudar)
                tr.appendChild(tdex)

                table.children[1].appendChild(tr);

                quantidade.value = ""
            }
        })
        }
    }

    function foto (id_lista) {
        const produto = document.querySelector(`#p${id_lista}`)
        const nome_foto = document.querySelector(`#nf${id_lista}`)
        const img = document.querySelector(`#im${id_lista}`)

        if (produto.value === "") {
            if (img.parentElement.children.length > 1) {
                img.parentElement.children[1].remove()
            }
            img.style.display = "none";
            vazio = document.createElement("P")
            vazio.innerHTML = "Selecione um produto."
            vazio.setAttribute("style","padding-top: 15px;")
            img.parentElement.appendChild(vazio)

        } else {

        if (img.parentElement.children.length > 1) {
            img.parentElement.children[1].remove()
        }
        img.style.display = "inline-block";
        nome_foto.innerHTML = produto.options[produto.selectedIndex].text

        $.get(`/get_img?id=${produto.value}`, (resposta) => {
            if (resposta !== "Produto não existe."){
                img.setAttribute("src", resposta)
            }
        })

        }
    }

</script>
{% endblock %}