{% extends "compras/layout.html" %}
{% load static %}

{% block body %}
<h4>Minhas Listas:</h4>
<br>
<ul>
{% for lista in listas %}
    {% if forloop.counter0 > 0 %}
    <hr>
    {% endif %}
    <li><h4><a href="{% url 'lista' lista.id %}">{{ lista.nome }}</a></h4></li>
    
    <div id="p{{ lista.id }}" style="display: none;">
        <br>
        {% if lista.produtos.all %}
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Produto</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in lista.produtos.all %}
                        <tr id="r{{ produto.id }}">
                            <td>{{ produto.produto.nome }}</td>
                            <td>{{ produto.quantidade }}</td>
                            <td>
                                    <button class="close" aria-label="Close" onclick="excluir('{{ produto.id }}')">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br><br>
        {% else %}
            <p>Lista vazia.</p>
            <br>
        {% endif %}
        <form action="{% url 'lista' lista.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="lista" value="add">
            <input type="submit" class="btn btn-primary" value="Adicionar Produtos">
            <a href="{% url 'pedido' %}?lista={{id}}">
                <button type="button" class="btn btn-primary">Pedir lista</button>
            </a>
        </form>
        <br>
        <form action="{% url 'lista' lista.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="lista" value="excluir">
            <input type="submit" class="btn btn-danger" value="Excluir lista">
        </form>
        <br><br>
    </div>
    <li><button type="button" class="btn btn-primary" id="b{{ lista.id }}" onclick="mostrar('{{ lista.id }}')">Mostrar</button></li>
    <br>
{% empty %}
    <p>Nenhuma lista ainda.</p>
{% endfor %}
</ul>
<br>
<a href="{% url 'criar'%}">
<button type="button" class="btn btn-primary">Criar nova lista</button>
</a>
{% endblock %}

{% block script %}
<script>
 
    function mostrar (id) {
        const p = document.querySelector(`#p${id}`)
        const b = document.querySelector(`#b${id}`)

        if (b.innerHTML === "Mostrar"){
            p.style.display = 'block'
            b.innerHTML = "Esconder"
        } 
        else if (b.innerHTML === "Esconder") {
            p.style.display = 'none'
            b.innerHTML = "Mostrar"
        }
    }

    function excluir(id_produto){
        const row = document.querySelector(`#r${id_produto}`)
        const body = row.parentElement

        $.get('/excluir?p=' + id_produto, (resposta) => {
            if (resposta = "Produto excluído!") {
                row.remove()
                console.log(body.children.length)
                if (body.children.length === 0) {
                    body.parentElement.parentElement.innerHTML = "<br>Lista vazia!<br><br>"
                }

            } else {
                alert(resposta)
            }   
        })
    }

</script>
{% endblock %}