{% extends "compras/layout.html" %}

{% block body %}
    <h4>{{nome}}</h4>
    <br>
    <ul>
    {% for produto in produtos %}
        <li>
            {% if forloop.counter0 > 0 %}
            <hr>
            {% endif %}
            <form action="{% url 'lista' id %}" method="post">
                {% csrf_token %}
                <span><b>{{ produto.produto.nome }}</b> | Quantidade: {{ produto.quantidade }} </span>
                <input type="hidden" name="item" value="{{ produto.id }}">
                <input type="submit" class="btn btn-danger" value="X">
            </form>
        </li>
    {% empty %}
        <p>Lista vazia.</p>
    {% endfor %}
    </ul>
    <br>
    <br>
    <form action="{% url 'lista' id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="lista" value="add">
        <input type="submit" class="btn btn-primary" value="Adicionar Produtos">
        <a href="{% url 'pedido' %}?lista=3">
            <button type="button" class="btn btn-primary">Pedir lista</button>
        </a>
    </form>
    <br>
    <form action="{% url 'lista' id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="lista" value="excluir">
        <input type="submit" class="btn btn-danger" value="Excluir lista">
    </form>
{% endblock %}