{% extends "compras/layout.html" %}

{% block body %}
    <h4>Total: {{ total }}</h4>
    <p>{{ itens }}</p>
    <ul>
    {% for item in itens %}
        <li>{{ item.quantidade }} {{ item.produto }}(s) por {{ item.preco }} cada.</li>
    {% endfor %}
    </ul>
    <form action="{% url 'concluir' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <select name="cartao" class="form-control" required>
                <option selected="selected">Escolha o pagamento</option>
                {% for cartao in cartoes %}
                <option value="{{ cartao.id }}">{{ cartao }}</option>
                {% endfor %}
            </select>
        </div>
        <input class="btn btn-primary" type="submit" value="Concluir pedido">
    </form>
{% endblock %}