{% extends "compras/layout.html" %}

{% block body %}
<div class="container">
    <div id="row" class="row">
        <div class="col">
            <div class='center_box'>
                <div class="box_padrao">
                    <h4>Fazer pedido:</h4>
                    <br>
                    <form id="myform" action="{% url 'pedido' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <select name="lista" class="selectpicker" data-live-search="true" title="Escolha a lista" onchange="mostrar()" required>
                                {% for lista in listas %}
                                {% if request.GET.lista %}
                                {% if lista.id|stringformat:"s" == request.GET.lista %}
                                <option value="{{ lista.id }}" selected="selected">{{ lista.nome }}</option>
                                {% else %}
                                <option value="{{ lista.id }}">{{ lista.nome }}</option>
                                {% endif %}
                                {% else %}
                                <option value="{{ lista.id }}">{{ lista.nome }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <br>
                            <a href="criar?next=pedido">Criar nova lista</a>
                        </div>
                        <div class="form-group">
                            <select name="acompanhamento" class="selectpicker" data-live-search="true" title="Escolha a despensa" onchange="mostrar()" required>
                                {% for acompanhamento in acompanhamentos %}
                                {% if request.GET.acompanhamento %}
                                {% if acompanhamento.id|stringformat:"s" == request.GET.acompanhamento %}
                                <option value="{{ acompanhamento.id }}" selected="selected">{{ acompanhamento.nome }}</option>
                                {% else %}
                                <option value="{{ acompanhamento.id }}">{{ acompanhamento.nome }}</option>
                                {% endif %}
                                {% else %}
                                <option value="{{ acompanhamento.id }}">{{ acompanhamento.nome }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <br>
                            <a href="criar_acompanhamento?next=pedido">Criar nova despensa</a>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="entrega" id="retirada" value="Retirada" 
                                onclick="document.querySelector('#endereco').style.display = 'none';
                                         document.querySelector('#endereco').children[0].required = false;
                                         //alert(document.querySelector('#endereco-select').value);
                                         $('#endereco-select').val('default');
                                         $('#endereco-select').selectpicker('refresh');
                                        ">
                            <label class="form-check-label" for="retirada">
                            Retirada
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="entrega" id="entrega" value="Entrega" 
                                onclick="document.querySelector('#endereco').style.display = 'inline-block';
                                         document.querySelector('#endereco').children[0].required = true;
                                        ">
                            <label class="form-check-label" for="entrega">
                            Entrega
                            </label>
                        </div>
                        <br>
                        <div id='endereco' class="form-group" style="display: none;">
                            <select id='endereco-select' name="endereco" class="selectpicker" data-live-search="true"
                                title="Escolha o endereço de entrega" required>
                                {% for endereco in enderecos %}
                                <option value="{{ endereco.id }}">{{ endereco }}</option>
                                {% endfor %}
                            </select>
                            <br>
                            <a href="endereco?next=pedido">Adicionar endereço</a>
                        </div>
                        <div class="form-group">
                            <select name="supermercado" class="selectpicker" data-live-search="true" title="Escolha o supermercado" onchange="mostrar()"
                                required>
                                {% for supermercado in supermercados %}
                                <option value="{{ supermercado.id }}">{{ supermercado }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="preco" class="col" style="display: none;">
            <div class='center_box'>
                <div class="box_padrao">
            <h4 id="total">Total: R$ {{ total|floatformat:2 }}</h4>
            <br>
            <ul id="itens">
                {% for item in itens %}
                <li>{{ item.quantidade }} {{ item.produto }}(s) por R$ {{ item.preco }} cada.</li>
                {% endfor %}
            </ul>
            <br>
            <button class="btn btn-primary" type="button" onclick="prosseguir()">Prosseguir</button>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function mostrar() {
        const supermercado = document.querySelector("[name='supermercado']")
        const lista = document.querySelector("[name='lista']")
        const acompanhamento = document.querySelector("[name='acompanhamento']")
        const preco = document.querySelector("#preco")
        const total = document.querySelector("#total")
        const itens = document.querySelector("#itens")

        if (!(lista.value === "" | acompanhamento.value === "" | supermercado.value === "")){
            $.get(`/preco?l=${lista.value}&a=${acompanhamento.value}&s=${supermercado.value}`, (resposta) => {
                if (resposta === "Nada a comprar") {
                    preco.style.display = 'none'
                    alert("Nenhum item a ser comprado.")
                }
                else {
                    //alert(`${resposta}|${resposta[0]}|${resposta[1][0].produto}`)
                    total.innerHTML = `Total: R$ ${resposta[0].toFixed(2)}`
                    itens.innerHTML = ""
                    resposta[1].forEach((item) => {
                        li = document.createElement("LI")
                        li.innerHTML = `${item.quantidade} ${item.produto}(s) por R$ ${item.preco} cada.<hr>`
                        itens.appendChild(li)
                    })
                    preco.style.display = 'block'
                } 
        })

    }
    }

    function prosseguir(){
        const retirada = document.querySelector("#retirada")
        const entrega = document.querySelector("#entrega")
        const endereco = document.querySelector("[name='endereco']")
        const form = document.querySelector("#myform")

        if (!retirada.checked && !entrega.checked){
            alert("Selecione a forma de entrega.")
        }
        else if (entrega.checked && endereco.value === "" ) {
            alert("Selecione o endereço.")
        }
        else {
            form.submit()
        }
    }

</script>
{% endblock %}