{% extends "compras/layout.html" %}


{% block body %}

    <h2>Registre-se</h2>
    <br>
    <form action="{% url 'registrar' %}" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Usuário" required>
            <br>
            <p id="em_uso" style="display: none;"></p>
        </div>
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="nome" placeholder="Nome" required>
        </div>
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="sobrenome" placeholder="Sobrenome" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="cpf" placeholder="CPF (só números)" maxlength="11" required>
        </div>

        <div id="senhas">
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Senha" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirmar senha" required>
                <br>
                <p id="match" style="display: none;"></p>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>
    <br>
    Já tem uma conta? <a href="{% url 'login' %}">Faça o login.</a>


{% endblock %}

{% block script %}
    <script>
        function check()
        {
            let username = document.querySelector("[name='username']");
            let em_uso =  document.querySelector('#em_uso');
            let existente = false;

            username.addEventListener('keyup', () => {
                    $.get('/check_user?u=' + username.value, (lenstr) => {
                        let len = parseInt(lenstr)
                        if (username.value == "")
                        {
                            em_uso.innerHTML = ""
                            em_uso.style.display = "none";
                        }
                        else if (len != 0)
                        {
                            existente = true;
                            em_uso.innerHTML = "Usuário já existe."
                            em_uso.style.display = "inline";
                        }
                        else
                        {
                            existente = false;
                            em_uso.innerHTML = "OK"
                            em_uso.style.display = "inline";
                        }
                    });
            });
        }

        function check_pass()
        {
            let password = document.querySelector("[name='password']");
            let confirm = document.querySelector("[name='confirmation']");
            let senhas = document.querySelector("#senhas");
            let match = document.querySelector("#match");
            let equal = false;

            senhas.addEventListener('keyup', () => {
                        if (confirm.value != password.value && confirm.value != "")
                        {
                            equal = false;
                            match.style.display = "inline";
                            match.innerHTML = "Senhas diferem.";
                        }
                        else if (confirm.value != "")
                        {
                            equal = true;
                            match.style.display = "inline";
                            match.innerHTML = "OK";
                        }
                        if (confirm.value == "")
                        {
                            equal = false;
                            match.innerHTML = "";
                            match.style.display = "none";
                        }
            });
        }

        document.addEventListener('DOMContentLoaded', check);
        document.addEventListener('DOMContentLoaded', check_pass);

    </script>
{% endblock %}